@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --text-color: #667085;
    --vermelho: #8E2424;
    --preto-titulo: #3A404E;
    --branco: #FFFFFF;
    --preto: #101828;

    --text-font: 'Inter', sans-serif;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    gap: 15%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo__img{
    padding:0.5rem;
}
.logo__name{
    font-family: var(--preto-titulo);
}
.paginas{
    display: flex;
    color: var(--text-color);
    gap: 2rem;
}
.paginas__itens{
    font-weight: 500;
    font-family: var(--text-font);
    font-size: 16px;
    cursor: pointer;
}
.botoes{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.botoes__entrar{
    color: var(--text-color);
    font-weight: 500;
    font-family: var(--text-font);
    cursor: pointer;
}
.botoes__cadastro{
    padding: 0.6rem 1.12rem;
    background-color: var(--vermelho);
    border-radius: 0.5rem;
    color: var(--branco);
    font-weight: 500;
    font-family: var(--text-font);
    font-size: 1rem;
    cursor: pointer;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25.4rem;
    gap: 1.5rem;
}
.sobre__subtitulo{
    color: var(--vermelho);
    font-family: var(--text-font);
    font-weight: 600;
}
.sobre__titulo{
    font-family: var(--text-font);
    font-weight: 600;
}
.sobre__texto{
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.metrica{
    display: flex;
    margin-left: 7.625rem;
    margin-right: 7.625rem;
    height: 18rem;
}
.metrica__conteudo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.metrica__conteudo__numero{
    color: var(--vermelho);
    font-weight: 600;
    font-size: 3.75rem;
    font-family: var(--text-font);
    padding-bottom: 0.75rem;

}
.metrica__conteudo__titulo{
    font-family: var(--text-font);
    color: var(--preto);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 0.5rem;

}
.metrica__conteudo__texto{
    font-family: var(--text-font);
    color: var(--text-color);
}
.descricao__apresentacao{
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}
.descricao__apresentacao__texto{
    padding-bottom: 4rem;
}
.descricao__apresentacao__subtitulo{
    color: var(--vermelho);
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 14px;
}
.descricao__apresentacao__titulo{
    color: var(--preto);
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 32px;
}
.descricao__imagem__reuniao{
    color: var(--text-color);
    font-size: 20px;
    line-height: 30px;
}
.descricao__apresentacao__texto{
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
}
.vagas{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 21rem;
    margin-top: 4rem;
    
}
.vagas__tipos{
    display: flex;
    flex-direction: column;
}
.vagas__tipos__titulo{
    margin-bottom: 3.5rem;
    color: var(--preto);
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 1.25rem;
}
.vagas__tipos__subtitulo{
    margin-bottom: 2rem;
    color: var(--preto);
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 1.125rem;
    padding-left: 1.5rem;
}
.vagas__tipos__descricao{
    display: flex;
    flex-direction: row;
    margin-bottom: 4.688rem;
    gap: 1.5rem;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1.5rem;
}
.depoimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    height: 31.25rem;
}
.depoimentos__um{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.depoimentos__titulo{
    color: var(--vermelho);
    font-family: var(--text-font);
    font-size: 0.875rem;
    font-weight: 600;
}
.depoimentos__texto{
    font-family: var(--text-font);
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
}
.depoimentos__imagem{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.depoimentos__dois{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
.depoimentos__julia{
    padding-bottom: 0.25rem;
    font-weight: 500;
    color: var(--preto);
    font-family: var(--text-font);
    font-size: 16px;
}
.depoimentos__julia__descricao{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 14px;
}
.aviso__por__email{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--text-font);
    gap: 1.875rem;
}
.aviso__subtitulo{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: var(--preto);
}
.aviso__paragrafo{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--text-color);
}
.aviso__email{
    width: 22.5rem;
    height: 3rem;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}
::placeholder{
    padding-left: 1rem;
}
.aviso__email__cadastro{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.aviso__cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem;
    gap: 0.5rem;
    width: 7.25rem;
    height: 3rem;
    background-color:  var(--vermelho);
    color: var(--branco);
    border-radius: 0.5rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}
.aviso__reservados{
    font-size:  1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--text-color);
}
