@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --text-color: #667085;
    --vermelho: #8E2424;
    --preto-titulo: #3A404E;
    --branco: #FFFFFF;
    --preto: #101828;

    --text-font: 'Inter', sans-serif;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    gap: 15%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo__img{
    padding:0.5rem;
}
.logo__name{
    font-family: var(--preto-titulo);
}
.paginas{
    display: flex;
    color: var(--text-color);
    gap: 2rem;
}
.paginas__itens{
    font-weight: 500;
    font-family: var(--text-font);
    font-size: 16px;
    cursor: pointer;
}
.botoes{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.botoes__entrar{
    color: var(--text-color);
    font-weight: 500;
    font-family: var(--text-font);
    cursor: pointer;
}
.botoes__cadastro{
    padding: 0.6rem 1.12rem;
    background-color: var(--vermelho);
    border-radius: 0.5rem;
    color: var(--branco);
    font-weight: 500;
    font-family: var(--text-font);
    font-size: 1rem;
    cursor: pointer;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25.4rem;
    gap: 1.5rem;
}
.sobre__subtitulo{
    color: var(--vermelho);
    font-family: var(--text-font);
    font-weight: 600;
}
.sobre__titulo{
    font-family: var(--text-font);
    font-weight: 600;
}
.sobre__texto{
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.metrica{
    display: flex;
    margin-left: 7.625rem;
    margin-right: 7.625rem;
    height: 18rem;
}
.metrica__conteudo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.metrica__conteudo__numero{
    color: var(--vermelho);
    font-weight: 600;
    font-size: 3.75rem;
    font-family: var(--text-font);
    padding-bottom: 0.75rem;

}
.metrica__conteudo__titulo{
    font-family: var(--text-font);
    color: var(--preto);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 0.5rem;

}
.metrica__conteudo__texto{
    font-family: var(--text-font);
    color: var(--text-color);
}
.vagas__apresentacao{
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}
.vagas__apresentacao__texto{
    padding-bottom: 4rem;
}
.vagas__apresentacao__subtitulo{
    color: var(--vermelho);
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 14px;
}
.vagas__apresentacao__titulo{
    color: var(--preto);
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 32px;
}
.vagas__imagem__reuniao{
    color: var(--text-color);
    font-size: 20px;
    line-height: 30px;
}

